<footer>
	<div class="container-fluid p-0">
		<div class="row mt-2 p-4">
			<div class="col-md-4">
				<div class="ml-2 mb-3 ">			
					<h5 class="h6 card-title"></h5>
					<ul class="list-unstyled mb-0">
						<!--
						<li class="mb-1">&copy Ricardo Almeida - Julho 2020</li>
						-->
					</ul>			
				</div>
			</div>
			<div class="col-md-2">			
				<div class="ml-2 mb-3 ">			
					<h5 class="h6 card-title">Contact</h5>
					<ul class="list-unstyled mb-0">
						<li class="mb-1"><span class=" fas fa-envelope mr-1"></span>
							<a href="mailto:ricardo.almeida.mail@gmail.com">email</a>
						</li>
						<li class="mb-1"><span class="fab fa-skype mr-1"></span>
							<a href="skype:ricardo.almeida.1700?userinfo">Skype</a>
						</li>				
					</ul>	
				</div>
			</div>
			<div class="col-md-2">			
				<h5 class="h6 card-title">Network</h5>
				<div class="row ">
					<div class="col-6">
						<ul class="list-unstyled mb-0">
							<li class="mb-1"><span class=" fab fa-linkedin mr-1"></span>
								<a href="https://www.linkedin.com/in/ricardo-almeida-0111b847/">Linkedin</a>
							</li>
							<li class="mb-1"><span class="fab fa-twitter mr-1"></span>
								<a href="https://twitter.com/Ricmalmeida">Twitter</a>
							</li>			
						</ul>		
					</div>
					<div class="col-6">
						<ul class="list-unstyled mb-0">
							<li class="mb-1"><span class=" fab fa-github mr-1"></span>
								<a href="https://github.com/ricardomalmeida">github</a>
							</li>
						</ul>								
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="ml-2 mb-3 ">			
					<h5 class="h6 card-title">About this site</h5>
					<ul class="list-unstyled mb-0">
						<li class="mb-1"><span class=""></span>Personnal page.</li>
						<li class="mb-1"><span class=""></span>Projects & Labs.</li>
					</ul>			
				</div>
			</div>
			<ul class="list-unstyled mb-0">
				<li class="mb-1">&copy Ricardo Almeida - July 2020</li>
			</ul>
		</div>
	</div>
</footer>


