 <!-- Navigation -->

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mx-5 mt-2 mt-lg-0">  
       <li class="nav-item">
          <a class="nav-link" href="index.html">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#post.html">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact.html">CV</a>
        </li>
      </ul>    
      <form class="form-inline">
        <a class="" href="/en/index.html"><button class="btn btn-sm btn-outline-secondary mx-2" type="button">EN</button></a>
        <a class="" href="/index.html"><button class="btn btn-sm btn-outline-primary mx-2" type="button">PT</button></a>  
      </form>
    </div>
  </div>
</nav>