

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!--
      <title>Ricardo Almeida - Página Pessoal</title>
     -->
    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173216209-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173216209-2');
    </script>

 <!--
<meta name="google-site-verification" content="Za9ueVtZjIbbMqRGBFeRufZjlBQQWxk6-SycaPhBdyo" />
 -->   
  </head>